flows.json
[
    {
        "id": "57560711f4d55117",
        "type": "tab",
        "label": "ESTACIÓN CLIMÁTICA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d435abbb1ba5c597",
        "type": "mqtt in",
        "z": "57560711f4d55117",
        "name": "",
        "topic": "codigoIoT/mqtt/clima ",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bbd3e2d50748d46d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "b2045104b4fc88f3"
            ]
        ]
    },
    {
        "id": "b2045104b4fc88f3",
        "type": "json",
        "z": "57560711f4d55117",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "6e480e25457a9bec",
                "46abaa4a87e2c43a"
            ]
        ]
    },
    {
        "id": "6e480e25457a9bec",
        "type": "function",
        "z": "57560711f4d55117",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 80,
        "wires": [
            [
                "86faa93c43bfc963",
                "32c49109f7e41bc9"
            ]
        ]
    },
    {
        "id": "46abaa4a87e2c43a",
        "type": "function",
        "z": "57560711f4d55117",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "2f573175ba5f40cb",
                "32c49109f7e41bc9"
            ]
        ]
    },
    {
        "id": "86faa93c43bfc963",
        "type": "ui_gauge",
        "z": "57560711f4d55117",
        "name": "",
        "group": "5027ab1fa728cfe0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-5",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "2f573175ba5f40cb",
        "type": "ui_gauge",
        "z": "57560711f4d55117",
        "name": "",
        "group": "91fee95f428fe90d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#99c1f1",
            "#3584e4",
            "#1a5fb4"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "32c49109f7e41bc9",
        "type": "ui_chart",
        "z": "57560711f4d55117",
        "name": "",
        "group": "e7d79433a66bf7bb",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temp. & Hum. - Registro",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-5",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 730,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bbd3e2d50748d46d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "52.29.7.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5027ab1fa728cfe0",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "c9b370daa8e8cb86",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "91fee95f428fe90d",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "c9b370daa8e8cb86",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7d79433a66bf7bb",
        "type": "ui_group",
        "name": "Historial",
        "tab": "c9b370daa8e8cb86",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c9b370daa8e8cb86",
        "type": "ui_tab",
        "name": "Clima",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]